@import 'variables';
@import 'wordpress';
a {
  text-decoration: none;
  color: black;
}
.default--container {
  max-width: $default-width;
}
.red--marker {
  color: $primary-red !important;
}
.main-page--header {
  font-weight: 300;
  margin: 2rem 0;
  .text__red {
    color: $primary-red;
  }
}
.loading-spinner {
  min-height: 80vh;
}
@media only screen and (min-width: 1000px) {
  .default--container {
    min-width: 900px;
  }
}
@media only screen and (max-width: 1000px) {
  .default--container {
    min-width: 560px;
  }
}
@media only screen and (max-width: 600px) {
  .default--container {
    min-width: 0;
  }
}