@import 'variables';
@import '../../../../../../../../../Users/Dominik/Desktop/nuxt/vueWP/assets/wordpress';
a {
  text-decoration: none;
  color: black;
}
.default--container {
  max-width: $default-width;
}
.red--marker {
  color: $primary-red !important;
}
.main-page--header {
  font-weight: 300;
  margin: 2rem 0;
  .text__red {
    color: $primary-red;
  }
}
@media only screen and (min-width: 960px) {
  .default--container {
    min-width: 960px;
  }
}
@media only screen and (max-width: 960px) {
  .default--container {
    min-width: 650px;
  }
}
@media only screen and (max-width: 600px) {
  .default--container {
    min-width: 0;
  }
}