.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article--content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  h1 {
    font-size: 240%;
  }
  h2 {
    font-size: 220%;
  }
  h3 {
    font-size: 200%;
  }
  h4 {
    font-size: 180%;
  }
  h5 {
    font-size: 160%;
  }
  h6 {
    font-size: 140%;
  }
}
@media only screen and (max-width: 700px) {
  .article--content img {
    width: 95%;
    height: auto;
    float: none;
    margin: 0 auto;
  }
}
pre code {
  width: 100%;
}

@media (max-width: 988px) {

  .wp-caption, pre code {
    width: 85% !important;
    margin: 0 auto !important;
    float: none !important;
  }
  #content .wp-caption a img, pre code {
    /* Scale down if too big */
    max-width: 96.03225806%; /* 614/620 */
    height: auto;
  }
}
@media only screen and (max-width: 400px) {
  .wp-caption, pre code {
    width: 90% !important;
    margin: 0 auto !important;
    float: none !important;
  }
  #content .wp-caption a img, pre code {
    max-width: 96.03225806%;
    height: auto;
  }
}

a, p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

pre {
  display: flex;
  justify-content: center;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
